name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ios-tests-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SCHEME_NAME: Scout

jobs:
  ios-tests:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install xcpretty
        run: |
          sudo gem install xcpretty

      - name: Run unit tests (iOS Simulator)
        run: |
          set -o pipefail && \
          xcodebuild \
            -scheme $SCHEME_NAME \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -enableCodeCoverage YES \
            test | xcpretty
